<a href="https://colab.research.google.com/github/shivpandey2406/python_AIML/blob/main/TCS2024Sep04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## TCS AI/ML Interview question - 2024

In [ ]:
x = ['s', 'm', 's', 's', 'm', 'n', 's', 's', 'm', 'm', 's']
Char_count = {}
for char in x :
  if char in Char_count :
    Char_count[char] +=  1
  else:
    Char_count[char] = 1

print(Char_count)

{'s': 6, 'm': 4, 'n': 1}

In [ ]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user")
data

    user_id|age|gender|occupation|zip_code
0                  1|24|M|technician|85711
1                       2|53|F|other|94043
2                      3|23|M|writer|32067
3                  4|24|M|technician|43537
4                       5|33|F|other|15213
..                                     ...
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841

[943 rows x 1 columns]

In [ ]:
import pandas as pd

# Read the file into DataFrame with pipe delimiter
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', delimiter='|')

# Display the DataFrame
print(df)

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [ ]:
Max_age = df['age'].max()
Max_age

73

In [ ]:
mean_age_by_occupation = df.groupby('occupation')['age'].mean()
mean_age_by_occupation

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64